[bumpversion]
current_version = 2.22.0
commit = True
tag = True

[bumpversion:file:Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = version-{current_version}-blue
replace = version-{new_version}-blue

[bumpversion:file:docker/Dockerfile]
search = ARG EG_VERSION={current_version}
replace = ARG EG_VERSION={new_version}
